// @import 'bootstrap4/bootstrap-grid';
@import 'slick';
@import 'animate';
@import "mixin/flex";

* {
  margin: 0;
  padding: 0;
  outline: none;
  box-sizing: border-box;
}



@function px2rem($u) {
  @return calc(1rem * $u / 14.4);
  // @if (unitless($u) or unit($u) == 'px') {
  //  @return 1rem * (to-number($u)/16);
  // } @else {
  //  @return $u;
  // }
}

@mixin transition-all($time: .5s) {  //миксин для транзишинов. использовать как @include transition-all(.5s);
  -webkit-transition: all $time ease-in-out;
    -moz-transition: all $time ease-in-out;
    -o-transition: all $time ease-in-out;
    transition: all $time ease-in-out;
}




// @include f;    //Это вешает display: flexbox;
// @include ai(center);    //Это вешает align-items: center;   в место center могут быть все варианты align-items
// @include jcsb;    //Это вешает justify-content(space-between);
// @include jc(space-between);    //Это вешает justify-content(space-between);
// @include fw(wrap);    //Это вешает flex-wrap: wrap;

$black: #333;
$red: #c51718;
$Accent: #000080;
$gray: #616161;
$background-gray: #FAFAFA;
$blue: #2A81DD;
$light-blue: #15BCE8;

html {
  font-size: 1vw;
  font-family: SF Pro Display;
  background-color: $background-gray;
}
body {
 /* font-family: "Open Sans";*/
  /*font-family: "TT Commons";*/
  font-family: 'SF Pro Display', sans-serif;


  // background-color: #ffc8b4;
}
button {
  cursor: pointer;
  text-transform: uppercase;
}





img {
  width: 100%;
  display: block;
}

.clear {
  clear: both;
}
.hidden {
  display: none;
}

.boxshadow {
   display: none;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background: rgba(0,0,0,0.6);
    position: fixed;
    z-index: 21;
    // display: block;
}

.flex_box {
  @include f;
}
.flex_row {
  @include f;
}
a {
  display: block;
}

.container {
  width: px2rem(1160);
  margin: 0 auto;
/*  border: 1px solid red;*/
}
.header-container{
  width: 100%;
  margin: 0 auto;
  border: 1px solid red;
}

.container1 {
  width: 80%;
  margin: 0 auto;
}

//General styles
.blue{
  color: $blue;
}

.btn{
  width: px2rem(220);
  padding: px2rem(18) px2rem(40);
  border-radius: px2rem(8);
  border: none;
  background: $blue;
  text-transform: none;

  color:  #FFF;
  text-align: center;
  font-family: Open Sans, sans-serif;
  font-size: px2rem(18);
  font-style: normal;
  font-weight: 400;
  line-height: px2rem(18);
  transition: background 0.3s ease-in-out;

  &:hover{
    background: $Accent;
  }
}

.accent{
  color: $Accent;
}

.content-text{
  color: $black;
  font-size: px2rem(16);
  font-style: normal;
  font-weight: 400;
  line-height: 150%; /* 24px */
}

.grid{
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  .grid-item{
    display: flex;
    width: px2rem(550);
    /* border: #6f42c1 solid 1px;*/
    justify-content: space-between;
    &:nth-child(1),
    &:nth-child(2) {
      margin-bottom: px2rem(40);
    }
    .grid-img{
      display: flex;
      width: px2rem(80);
      height: px2rem(80);
      background-size: cover;
    }
    .grid-text{
      display: flex;
      width: px2rem(444);
      flex-direction: column;
      margin-right: px2rem(12);
      .grid-text-title{
        display: flex;
        color: $black;
        font-size: px2rem(20);
        font-style: normal;
        font-weight: 700;
        line-height: 130%; /* 26px */
        margin-bottom: px2rem(10);
      }

      .grid-content-next-line{
        margin-top: px2rem(15);
      }
    }
  }
}




header {
  .container {
    display: flex;
    padding: px2rem(26) 0 px2rem(25) 0;
    align-items: center;

    .header-logo {
      margin-right: px2rem(169.5);
      width: px2rem(93);
    }




    .flex_row {
      display: flex;
      align-items: center;
      justify-content: space-between;
      width: 100%;

      .main-nav {
        .nav-list {
          display: flex;
          width: px2rem(635);
          justify-content: space-between;
          list-style: none;
          gap: px2rem(40);

          .nav-item {
            .nav-link {
              text-decoration: none;
              transition: color 300ms ease-out;

              color: $gray;
              font-size: px2rem(16);
              font-style: normal;
              font-weight: 400;
              line-height: 100%; /* 16px */
              &:hover {
                color: $Accent;
              }
            }
          }
        }
      }
      .flex_box {
        display: flex;
        align-items: center;
        justify-content: space-between;

        .select-container{
          display: flex;

        }
        /*.language {




          &:active {
            border: none;
          }
        }*/

        .login {
          display: flex;
          text-decoration: none;
          color: $blue;
          transition: color 300ms ease-out;
          text-align: right;
          font-size: px2rem(14);
          line-height: px2rem(18);
          font-style: normal;
          font-weight: 700;
          //line-height: normal;
          margin-left: px2rem(29);

          &:hover {
            color: $Accent;
          }
        }
      }
    }
  }
}

.intro{
  padding-top: px2rem(60);

  .container{
      display: flex;
      justify-content: space-between;

      img{
        width: px2rem(668) ;
        height:px2rem(651) ;
    }
    .container-text{
      display: flex;
      padding-top: px2rem(60);

      width: px2rem(472);
      flex-direction: column;
     /* justify-content: space-between;*/

      .top-text{
     //FIXME width unmatch
        width: px2rem(480);
        font-size: px2rem(40);
        color: #333;
        font-style: normal;
        font-weight: 600;
        line-height: 130%; /* 52px */
        letter-spacing: px2rem(-0.4);
        margin-bottom: px2rem(25);
      }
      .middle-text{
        color: $light-blue;
        font-size: px2rem(22);
        font-style: normal;
        font-weight: 400;
        line-height: 140%; /* 30.8px */
        margin-bottom: px2rem(20);
      }
      .bottom-text{
        color: #363636;
        font-size: px2rem(18);
        font-style: normal;
        font-weight: 400;
        line-height: 150%; /* 27px */
        margin-bottom: px2rem(40);
      }

    }
  }
}
.about {
/*  background: url("/assets/img/Group.svg") no-repeat;*/
  padding-top: px2rem(60);

  .container {
    border: none;

    .title{
      color: $black;
      font-size: px2rem(32);
      font-style: normal;
      font-weight: 500;
      line-height: 140%; /* 44.8px */
      letter-spacing: px2rem(-0.32);
      margin-bottom: px2rem(25);
    }
    .about-content{
      width: px2rem(570);
      margin-bottom: px2rem(55);
    }
    .grid-content{
      /*font-family: "Roboto Flex";*/
      color: $black;
      font-size: px2rem(16);
      font-style: normal;
      font-weight: 400;
      line-height: 150%; /* 24px */
    }
  }
}
.map{
  .container{
    padding-top: px2rem(60);
    .title{
      text-align: center;
      color: $black;
      font-size: px2rem(20);
      font-style: normal;
      font-weight: 700;
      line-height: px2rem(31); /* 155% */
    }
  }
}

.products{
  /*background: black;*/
  padding-top: px2rem(62);

  .container{
    .title{
      color: $black;
      font-size: px2rem(32);
      font-style: normal;
      font-weight: 600;
      line-height: 150%; /* 48px */
      margin-bottom: px2rem(25)
    }
    .desc{
      color: $gray;
      font-size: px2rem(18);
      width: px2rem(472);
      font-style: normal;
      font-weight: 400;
      line-height: 150%; /* 27px */
      margin-bottom: px2rem(30);
    }
    .flex-row{
      //display: flex;
      //justify-content: space-between;
      //flex-wrap: nowrap;
      .products_grid{

      }
    }
  }
  //FIXME MARGIN LEFT RIGHT?
  .banner{
    display: flex;
    align-self: center;
    width: px2rem(964);
    margin-top: px2rem(50);
    margin-right: auto;
    margin-left: auto;
    padding: px2rem(40) px2rem(40) px2rem(45) px2rem(40);

    border-radius: px2rem(10);
    background: linear-gradient(180deg, rgba(143, 194, 255, 0.50) 0%, rgba(143, 194, 255, 0.50) 22.92%, rgba(92, 166, 255, 0.40) 86.98%), #2A81DD;
    box-shadow: 0 px2rem(12) px2rem(16) 0 rgba(78, 132, 225, 0.05);

    .banner-content{
      display: flex;
      flex-direction: column;
      .title{
        width: px2rem(580);
        color: white;
        font-size: px2rem(28);
        font-style: normal;
        font-weight: 500;
        line-height: 150%; /* 42px */
        margin-bottom: px2rem(15);
      }
      .subtitle{
        width: px2rem(430);

        color:  #E2E4E9;
        font-size: px2rem(18);
        font-style: normal;
        font-weight: 300;
        line-height: 140%; /* 25.2px */
        letter-spacing: px2rem(-0.18);
        margin-bottom: px2rem(24);
      }
      .btn{
        font-family: SF Pro Display;
        width: px2rem(212);
        //FIXME FONT

        /*width: px2rem(209);*/
        text-align: center;
        font-size: px2rem(18);
        font-style: normal;
        font-weight: 600;
        line-height: px2rem(18); /* 100% */
        background: #FFF;
        color: $blue;

        transition: color,background-color 0.3s ease-in-out;
        &:hover{
          background: $black;
          color: #FFF;
        }
      }
    }
    .banner-img{
      display: flex;
      width: px2rem(210.462);
      margin-left: px2rem(28);
      height: px2rem(148);
      margin-top: px2rem(18.5);
    }
  }
}
.detilize{
  padding-top: px2rem(80);

  .container{
    display: flex;
    width: px2rem(1160);
    justify-content: space-between;
    margin-bottom: px2rem(102);
    .title-block{
      display: flex;
      flex-direction: column;
      justify-content: space-between;

      .detilize-title{
        width: px2rem(373);
        color: $black;
        font-family: SF Pro Display;
        font-size: px2rem(32);
        font-style: normal;
        font-weight: 600;
        line-height: 130%; /* 41.6px */
      }

      .detilize-img{
        width: px2rem(373);
      }
    }
    .grid {

       margin-top: px2rem(94);
       width: px2rem(668);

      .grid-item {
        width: px2rem(300);

        &:nth-child(1),
        &:nth-child(2) {
          margin-bottom: px2rem(30);

        }

        .grid-text {
          margin-right: 0;

          .grid-text-title {
            color: $black;
            margin-bottom: px2rem(20);
            font-size: px2rem(18);
            font-style: normal;
            font-weight: 600;
            line-height: 140%; /* 25.2px */
          }
          .content-text{
            color: $black;
            //FIXME FONT
            font-family: Roboto Flex;
            font-size: px2rem(15);
            font-style: normal;
            font-weight: 300;
            line-height: 140%; /* 21px */
            letter-spacing: px2rem(-0.15);
          }
        }
      }
    }
  }
}

.contact-us{
  padding-top: px2rem(80);
  .input-container {
    position: relative;
    label {
      position: absolute;
      top: 50%;
      left: px2rem(20);
      transform: translateY(-50%);
      pointer-events: none;
      color: $gray;
      font-family: Roboto Flex;
      font-size: px2rem(16);
      font-style: normal;
      font-weight: 400;
      line-height: 120%; /* 19.2px */
      transition: 0.3s ease-in-out;
    }
    label {
      position: absolute;
      top: 50%;
      left: px2rem(20);
      transform: translateY(-50%);
      pointer-events: none;
      color: $gray;
      font-family: Roboto Flex;
      font-size: px2rem(16);
      font-style: normal;
      font-weight: 400;
      line-height: 120%; /* 19.2px */
      transition: 0.3s ease-in-out;
    }
    .textarea-label{
      position: absolute;
      top: px2rem(28);
      left: px2rem(20);
      transform: translateY(-50%);
      pointer-events: none;
      color: $gray;
      font-family: Roboto Flex;
      font-size: px2rem(16);
      font-style: normal;
      font-weight: 400;
      line-height: 120%; /* 19.2px */
      transition: 0.3s ease-in-out;
    }

      input:focus + label {
      top: px2rem(10);
      left: px2rem(20);
      font-size: px2rem(12);
    }
    textarea:focus + label {
      top: px2rem(10);
      left: px2rem(20);
      font-size: px2rem(12);
    }
  }



  .container{
    .form-img{
      display: flex;
      width: px2rem(472);
      margin-left: px2rem(20);
    }

    .title{
      color: $black;
      font-size: px2rem(32);
      font-style: normal;
      font-weight: 600;
      line-height: 150%; /* 48px */
      margin-bottom: px2rem(20);
      width: px2rem(373);
    }
    .subtitle{
      color: $gray;
      font-family: SF Pro Display;
      font-size: px2rem(18);
      font-style: normal;
      font-weight: 400;
      line-height: 150%; /* 27px */
      margin-bottom: px2rem(30);
      width: px2rem(472);
    }
    .form-container{
      display: flex;

      .form{
        display: flex;
        width: px2rem(668);
        flex-direction: column;
        justify-content: space-between;

        .input-field{
          display: flex;
          width: px2rem(320);
          padding: px2rem(18) px2rem(20) px2rem(17) px2rem(20);
          border-radius: px2rem(10);
          background: #FFF;
          border: none;

          color: $black;
          font-family: Roboto Flex;
          font-size: px2rem(16);
          font-style: normal;
          font-weight: 400;
          line-height: 120%; /* 19.2px */
        }
        .input-group{
          display: flex;
          justify-content: space-between;
          margin-bottom: px2rem(30);
        }
        .organization{
          display: flex;
          width: 100%;
          margin-bottom: px2rem(30);
        }
        .message{
          display: flex;
          max-width: 100%;
          min-width: 100%;
          padding: px2rem(18) px2rem(20) px2rem(17) px2rem(20);
          margin-bottom: px2rem(25);
          min-height: px2rem(162);
        }

        .btn{
          width: px2rem(231);
          display: inline-flex;
          font-family: SF Pro Display;
          background-color: $black;
          padding: 18px 40px;
          justify-content: center;
          align-items: center;
          margin-bottom: px2rem(100);

          &:hover{
            background-color: $blue;
          }
        }
        .radio-group{
          display: flex;
          flex-direction: column;
          align-items: flex-start;
          justify-content: space-between;

          .radio-item1{
            display: flex;
            margin-bottom: px2rem(20);

            .radio1{
              margin-right: px2rem(8);
            }
          }
          .radio-item2{
            display: flex;
            margin-bottom: px2rem(30);

            .radio2{
              margin-right: px2rem(8);

            }
          }
          .radio-text{
            color: $gray;
            font-family: Roboto Flex;
            font-size: px2rem(16);
            font-style: normal;
            font-weight: 400;
            line-height: 130%; /* 20.8px */
            letter-spacing: px2rem(-0.16);
          }
        }
      }
    }
  }
}
footer{
  .container{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: px2rem(40);
    margin-bottom: px2rem(30);

    .contacts{
      display: flex;
      align-items: center;
      justify-content: space-between;
      .contacts-title{
        color: $black;
        font-family: SF Pro Display;
        font-size: px2rem(32);
        font-style: normal;
        font-weight: 600;
        line-height: 100%; /* 32px */

      }
      .contacts-email{
        display: flex;
        margin-left: px2rem(53);
        align-items: center;

        .email-text{
          margin-left: px2rem(10);


          a{
            text-decoration: none;
            display: flex;
            color: $blue;
            font-family: Roboto Flex;
            font-size: px2rem(16);
            font-style: normal;
            font-weight: 500;
            line-height: 130%; /* 20.8px */
            letter-spacing: px2rem(-0.16);
          }
        }

      }
      .contacts-address{
        display: flex;
        margin-left: px2rem(50);
        align-items: center;
        .address-photo{
          display: flex;
          width: px2rem(24);
        }
        //FIXME FONT
        .address-text{
          margin-left: px2rem(10);
          display: flex;
          color: $black;
          font-family: Roboto Flex;
          font-size: px2rem(16);
          font-style: normal;
          font-weight: 500;
          line-height: 130%; /* 20.8px */
          letter-spacing: px2rem(-0.16);
        }

      }
    }

    .links{
      display: flex;
      width: px2rem(210);
      justify-content: space-between;

      .svg-icon {
        width: px2rem(30);
        height: px2rem(30);

        & path {
          fill: #ACACAC;
          transition: fill 0.3s ease-in-out;
        }

      }
      .youtube{
        &:hover{
          & path {
            fill: #FF0302;
          }
        }
      }
      .facebook{
        &:hover{
          & path {
            fill: #1877F2;
          }
        }
      }

      //FIXME no transition because url
      .instagram{
        &:hover{
          & path {
            fill: url(#paint1_linear_109_4253);
          }
        }
      }
      .linkedin{
        &:hover{
          & path {
            fill: #0A66C2;
          }
        }
      }

    }
  }
}
















































#slider {
  .slider_item {
    display: flex;
    /* width: px2rem(560) !important;*/
    min-height: px2rem(298) !important;
    padding: px2rem(25) px2rem(25) px2rem(30) px2rem(25);
    border-radius: px2rem(8);
    background: #FFF;
    margin-right: px2rem(30);
    box-shadow: px2rem(0) px2rem(12) px2rem(16) px2rem(0) rgba(78, 132, 225, 0.05);
    justify-content: space-between;
    /*border: 1px solid black;*/

    .grid-img{
      display: flex;
      width: px2rem(80);
      align-items: flex-start;
      //FIXME MARGIN
      /* margin-right: px2rem(15);*/
      background-size: cover;
    }
    .grid-text{
      display: flex;
      width: px2rem(415);
      flex-direction: column;
      .grid-tag{
        color: $blue;
        font-size: px2rem(14);
        font-style: normal;
        font-weight: 500;
        line-height: 100%; /* 14px */
      }
      .grid-text-title{
        display: flex;
        color: $Accent;
        font-size: px2rem(24);
        font-style: normal;
        font-weight: 500;
        line-height: 150%; /* 36px */
        margin-bottom: px2rem(10);
      }
      .content-text{
        color: #5C5C5C;
        font-size: px2rem(16);
        font-style: normal;
        font-weight: 400;
        line-height: 150%; /* 24px */
      }

      .grid-content-margin-bot{
        color: #5C5C5C;
        margin-bottom: px2rem(15);
      }
    }
  }
}

.slider_item .slick-slide .slick-active{
  width: unset !important;

}

.slick-prev {
  position: absolute;
 /* top: -90px;*/
  width:  px2rem(50) !important;
  height: px2rem(50) !important;
  padding:  px2rem(13) px2rem(11) px2rem(13) px2rem(15);
  align-items: center;
  flex-shrink: 0;
  border-radius: px2rem(100);
  background: #FFFFFF;
  z-index: 1;
  top: px2rem(1700);
  left: px2rem(1133);
  box-shadow: 0 px2rem(12) px2rem(16) 0 rgba(78, 132, 225, 0.05);
  svg{
    width: px2rem(24);
    height: px2rem(24);
  }
}
.slick-next{
  position: absolute;
 /* top: -140px;
  left: -30px;*/
  width:  px2rem(50) !important;
  height: px2rem(50) !important;
  padding:  px2rem(13) px2rem(11) px2rem(13) px2rem(15);
  margin-left: px2rem(30);
  z-index: 1;
  top: px2rem(1700);
  left: px2rem(1183);

  align-items: center;
  border-radius:px2rem(100);
  background: #FFFFFF;
  box-shadow: 0 12px 16px 0 rgba(78, 132, 225, 0.05);
  svg{
    width: px2rem(24);
    height: px2rem(24);
    stroke: red;

    &:hover{
      stroke: $blue;
    }
  }
}











































































































































/* Для элемента select */
.select2-container .select2-selection {
  border: none !important;
  border-radius: px2rem(15) !important;
  background-color: #F3F5FC !important;
}
/* Изменяет высоту контейнера */
.select2-container .select2-selection--single {
  width: px2rem(60) !important;  /* Пример высоты */
  position: relative;
  height: px2rem(28);

}

.select2-container .select2-selection__rendered:hover {
  transition: color 0.3s ease-in-out;;
  color: $Accent !important;
}

/* Когда dropdown активно (открывается вниз) */
.select2-container--open .select2-selection {
  border-bottom-left-radius: 0 !important;
  border-bottom-right-radius: 0 !important;
}

/* Для выпадающего списка */
.select2-dropdown {
  font-size: px2rem(12);
  padding-left: px2rem(2);
  width: px2rem(60) !important;  /* Пример высоты */

  border: none !important;
  border-radius: px2rem(15) !important;
  background-color: #F3F5FC !important;
}

/*Наведение на dropdown*/
.select2-dropdown .select2-results__option {
  transition: color 0.3s ease-in-out;
}

.select2-container--default .select2-selection--single .select2-selection__rendered{
  font-size: px2rem(12);
  transition: color 0.3s ease-in-out !important;
  padding-left: px2rem(8);
  padding-right: px2rem(20);
  overflow: inherit;
  line-height: px2rem(28);
}

/* Изменение цвета текста при наведении на элемент выпадающего списка */
.select2-dropdown .select2-results__option:hover {
  color: $Accent !important;
}

.select2-results__option--highlighted[aria-selected="true"]{
  background-color: unset !important;
  color: unset !important;
}


.select2-container--default .select2-results__option--selected:not(.select2-results__option--highlighted) {
  background-color: unset !important;
}

/* Когда dropdown открывается вниз, скругляем верхние углы */
.select2-dropdown--below {
  border-top-left-radius: 0 !important;
  border-top-right-radius: 0 !important;
}

/*иконка*/
/* Скрыть стандартную иконку стрелочки */
.select2-container--default .select2-selection--single .select2-selection__arrow b {
  display: none;
}

/* Добавить SVG иконку */
.select2-container--default .select2-selection--single .select2-selection__arrow::before {
  background-image: url('/assets/img/icons.svg');
  content: '';
  display: inline-block;
  position: absolute;
  top: 50%; /* Центрируем по вертикали */
  transform: translateY(-50%);
  width: px2rem(16);
  height: px2rem(16);
  //right: px2rem(8);
  background-size: px2rem(16);
  background-repeat: no-repeat;
}
.select2-selection__arrow{
  display: inline-block;
  position: absolute;
  transform: translateY(-50%);

}
.select2-container--default .select2-selection--single .select2-selection__arrow {
  top: 50%;
  width: px2rem(16);
  height: px2rem(16);
  margin-right: px2rem(8);
}
.select2-container--default.select2-container--open .select2-selection--single .select2-selection__arrow::before {
  transform: translateY(-50%) rotate(180deg);
}

.select2-container--default .select2-selection--single .select2-selection__arrow::before {
  transition: transform 0.3s ease-in-out; /* Добавляем плавность */
}
/*для ховер стрелочи*/
//Fixme меняется stroke
.select2-container:hover .select2-selection--single .select2-selection__arrow::before {
  background-image: url("data:image/svg+xml,%3Csvg width='16' height='17' viewBox='0 0 16 17' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M12.6667 6.5L7.99999 10.5L3.33332 6.5' stroke='rgba(0, 0, 128, 1)' stroke-linecap='round' stroke-linejoin='round'/%3E%3C/svg%3E%0A");

}


.select2-container {
  width: px2rem(60) !important;
}






// Extra small devices (portrait phones, less than 576px)
@media (max-width: 575px) { }

// Small devices (landscape phones, less than 768px)
@media (max-width: 767px) { 




}

// Medium devices (tablets, less than 992px)
@media (max-width: 991px) {  }

// Large devices (desktops, less than 1200px)
@media (max-width: 1199px) { }




