// @import 'bootstrap4/bootstrap-grid';
@import 'slick';
@import 'animate';
@import "mixin/flex";

* {
  margin: 0;
  padding: 0;
  outline: none;
  box-sizing: border-box;
}



@function px2rem($u) {
  @return calc(1rem * $u / 14.4);
  // @if (unitless($u) or unit($u) == 'px') {
  //  @return 1rem * (to-number($u)/16);
  // } @else {
  //  @return $u;
  // }
}

@mixin transition-all($time: .5s) {  //миксин для транзишинов. использовать как @include transition-all(.5s);
  -webkit-transition: all $time ease-in-out;
    -moz-transition: all $time ease-in-out;
    -o-transition: all $time ease-in-out;
    transition: all $time ease-in-out;
}




// @include f;    //Это вешает display: flexbox;
// @include ai(center);    //Это вешает align-items: center;   в место center могут быть все варианты align-items
// @include jcsb;    //Это вешает justify-content(space-between);
// @include jc(space-between);    //Это вешает justify-content(space-between);
// @include fw(wrap);    //Это вешает flex-wrap: wrap;


html {
  font-size: 1vw;
  font-family: SF Pro Display;
}
body {
 /* font-family: "Open Sans";*/
  /*font-family: "TT Commons";*/
  font-family: 'SF Pro Display', sans-serif;


  // background-color: #ffc8b4;
}
button {
  cursor: pointer;
  text-transform: uppercase;
}



$black: #333;
$red: #c51718;
$Accent: #000080;
$gray: #616161;
$blue: #2A81DD;
$light-blue: #15BCE8;

img {
  width: 100%;
  display: block;
}

.clear {
  clear: both;
}
.hidden {
  display: none;
}

.boxshadow {
   display: none;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background: rgba(0,0,0,0.6);
    position: fixed;
    z-index: 21;
    // display: block;
}

.flex_box {
  @include f;
}
.flex_row {
  @include f;
}
a {
  display: block;
}

.container {
  width: px2rem(1160);
  margin: 0 auto;
/*  border: 1px solid red;*/
}
.header-container{
  width: 100%;
  margin: 0 auto;
  border: 1px solid red;
}

.container1 {
  width: 80%;
  margin: 0 auto;
}

//General styles
.blue{
  color: $blue;
}

.accent{
  color: $Accent;
}

.content-text{
  color: $black;
  font-size: px2rem(16);
  font-style: normal;
  font-weight: 400;
  line-height: 150%; /* 24px */
}

header {
  .container {
    display: flex;
    padding: px2rem(26) 0 px2rem(25) 0;
    align-items: center;

    .header-logo {
      margin-right: px2rem(169.5);
      width: px2rem(93);
    }




    .flex_row {
      display: flex;
      align-items: center;
      justify-content: space-between;
      width: 100%;

      .main-nav {
        .nav-list {
          display: flex;
          width: px2rem(635);
          justify-content: space-between;
          list-style: none;
          gap: px2rem(40);

          .nav-item {
            .nav-link {
              text-decoration: none;
              transition: color 300ms ease-out;

              color: $gray;
              font-size: px2rem(16);
              font-style: normal;
              font-weight: 400;
              line-height: 100%; /* 16px */
              &:hover {
                color: $Accent;
              }
            }
          }
        }
      }
      .flex_box {
        display: flex;
        align-items: center;
        justify-content: space-between;

        .select-container{
          display: flex;

        }
        /*.language {




          &:active {
            border: none;
          }
        }*/

        .login {
          display: flex;
          text-decoration: none;
          color: $blue;
          transition: color 300ms ease-out;
          text-align: right;
          font-size: px2rem(14);
          line-height: px2rem(18);
          font-style: normal;
          font-weight: 700;
          //line-height: normal;
          margin-left: px2rem(29);

          &:hover {
            color: $Accent;
          }
        }
      }
    }
  }
}

.intro{
  .container{
      padding-top: px2rem(60);
      display: flex;
      justify-content: space-between;

      img{
        width: px2rem(668) ;
        height:px2rem(651) ;
    }
    .container-text{
      display: flex;
      padding-top: px2rem(60);

      width: px2rem(472);
      flex-direction: column;
     /* justify-content: space-between;*/

      .top-text{
     //FIXME width unmatch
        width: px2rem(480);
        font-size: px2rem(40);
        color: #333;
        font-style: normal;
        font-weight: 600;
        line-height: 130%; /* 52px */
        letter-spacing: px2rem(-0.4);
        margin-bottom: px2rem(25);
      }
      .middle-text{
        color: $light-blue;
        font-size: px2rem(22);
        font-style: normal;
        font-weight: 400;
        line-height: 140%; /* 30.8px */
        margin-bottom: px2rem(20);
      }
      .bottom-text{
        color: #363636;
        font-size: px2rem(18);
        font-style: normal;
        font-weight: 400;
        line-height: 150%; /* 27px */
        margin-bottom: px2rem(40);
      }
      .btn{
        width: px2rem(220);
        padding: px2rem(18) px2rem(40);
        border-radius: px2rem(8);
        border: none;
        background: $blue;
        text-transform: none;

        color:  #FFF;
        text-align: center;
        font-family: Open Sans, sans-serif;
        font-size: px2rem(18);
        font-style: normal;
        font-weight: 400;
        line-height: px2rem(18);
        transition: background 0.3s ease-in-out;

        &:hover{
          background: $Accent;
        }
      }
    }
  }
}
.about {
  /*background: url("/assets/img/Group.svg") no-repeat;*/

  .container {
    border: none;
    padding-top: px2rem(60);

    .title{
      color: $black;
      font-size: px2rem(32);
      font-style: normal;
      font-weight: 500;
      line-height: 140%; /* 44.8px */
      letter-spacing: px2rem(-0.32);
      margin-bottom: px2rem(25);
    }
    .about-content{
      width: px2rem(570);
      margin-bottom: px2rem(55);
    }
    .grid{
      display: flex;
      justify-content: space-between;
      flex-wrap: wrap;
      .grid-item{
        display: flex;
        width: px2rem(550);
       /* border: #6f42c1 solid 1px;*/
        justify-content: space-between;
        &:nth-child(1),
        &:nth-child(2) {
          margin-bottom: px2rem(40);
        }
        .grid-img{
          display: flex;
          width: px2rem(80);
          height: px2rem(80);
          background-size: cover;
        }
        .grid-text{
          display: flex;
          width: px2rem(444);
          flex-direction: column;
          margin-right: px2rem(12);
          .grid-text-title{
            display: flex;
            color: $black;
            font-size: px2rem(20);
            font-style: normal;
            font-weight: 700;
            line-height: 130%; /* 26px */
            margin-bottom: px2rem(10);
          }
          //Fixme font
          .grid-content{
            font-family: "Roboto Flex";
            color: $black;
            font-size: px2rem(16);
            font-style: normal;
            font-weight: 400;
            line-height: 150%; /* 24px */
          }
          .grid-content-next-line{
            margin-top: px2rem(15);
          }
        }
      }
    }
  }
}
.map{
  .container{
    padding-top: px2rem(60);
    .title{
      text-align: center;
      color: $black;
      font-size: px2rem(20);
      font-style: normal;
      font-weight: 700;
      line-height: px2rem(31); /* 155% */
    }
  }
}


























































































































































































































//FIXME СЕЛЕКТ Не резиновый + поправить paddingи и 2 языка в выборке
.choices__inner{
  /*padding: 4px 8px 4px 20px;*/
 /* text-align: center;*/
  border-radius: px2rem(20);
  position: relative;
  width: px2rem(60);
  border: none;
  color: $gray;
  background: #F3F5FC;
  min-height: auto;
  transition: color 0.3s ease-in-out;
}
.choices__inner:hover{
  color: blue;
}
.choices__list--single {
   padding: 0;
}

.is-open .choices__inner{
  /*padding: 4px 8px 4px 20px;*/
  border-top-left-radius: px2rem(20);
  border-top-right-radius: px2rem(20);
  border: none;
  background: #F3F5FC;
  min-height: auto;
}
.language .default option{
  margin: 0;
  padding: 0;
}

.default{;
  border-radius: px2rem(20);
  color:  #616161;
  text-align: center;
  font-size: px2rem(12);
  font-style: normal;
  font-weight: 400;
  line-height: px2rem(12);
  letter-spacing: 0.2px;
}

.choices__item--choice{
  transition: color 0.3s ease-in-out;
}
.choices__list--dropdown .choices__item--choice:hover {
  color: blue;
}

.choices__list--dropdown .choices__list, .choices__list[aria-expanded] .choices__list {
  position: relative;
   overflow: unset;
  -webkit-overflow-scrolling: touch;
  word-break: normal;

}

.choices__list--dropdown{
  /*padding: 4px 8px 4px 15px;*/
  width: px2rem(60);
  align-items: flex-start;
  color:  #616161;
  text-align: center;
  font-size: px2rem(12);
  font-style: normal;
  font-weight: 400;
  line-height: px2rem(12);
  letter-spacing: 0.2px;
  border: none;
  background: #F3F5FC;
  padding: 0;
  margin: 0;


}
.choices__list .choices__list--dropdown .is-active{
  width: px2rem(60);

}

.choices__list--dropdown, .choices__list[aria-expanded] {

}

.is-open .choices__list--dropdown{
  border-bottom-left-radius: px2rem(20);
  border-bottom-right-radius: px2rem(20);
  border: none;
  background: #F3F5FC;
}
.choices__list--dropdown,
.choices__list[aria-expanded] {
  width: px2rem(60);
}
.choices__list--dropdown .choices__item--choice,
.choices__list--dropdown .choices__item--choice.is-highlighted {
  background-color: transparent !important;
}






/*.choices[data-type*="select-one"]::after {
  content: none;
}*/

/*.choices[data-type*="select-one"]::after {
  background-image: url('assets/img/icons.svg'); !important;
  border-style: none;
  right: px2rem(10);
  top: 0%;
  left: 0%;
  pointer-events: all;
}*/


/*.choices[data-type*="select-one"]::after {
  content: url('assets/img/icons.svg');  !* замените на путь к вашей иконке *!
  position: absolute;
  fill: blue;
 !* right: px2rem(10);  !* вы можете настроить положение иконки по горизонтали *!*!
 !* top: 50%;     !* центрируем иконку по вертикали *!
  transform: translateY(-50%); !* смещаем иконку вверх на половину ее высоты для вертикального центрирования *!
  pointer-events: all;  !* чтобы иконка не блокировала клики *!*!

}*/
.choices[data-type*="select-one"]:hover::before {
  fill: blue;
}



.choices__list--dropdown .choices__item--selectable.is-highlighted:after{
  display: none;
}




// Extra small devices (portrait phones, less than 576px)
@media (max-width: 575px) { }

// Small devices (landscape phones, less than 768px)
@media (max-width: 767px) { 




}

// Medium devices (tablets, less than 992px)
@media (max-width: 991px) {  }

// Large devices (desktops, less than 1200px)
@media (max-width: 1199px) { }




